body {
  margin: 10px;
  font-family: cursive;
}
.pa {
  margin: 20px;
}
input {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 5px;
  width: 210px;
  height: 30px;
}
button {
  gap: 10px;
  margin-left: 20px;
  border: none;
  height: 35px;
  width: 100px;
  transition: 0.5s linear;
  font-weight: 900;
  background-color: black;
  color: white;
}
button:hover {
  background-color: grey;
}
label {
  margin-left: 20px;
  margin-top: 10px;
  font-family: cursive;
}
